body {
    font-family: sans-serif;
}

.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.error-page > p {
    text-align: center;
}
.error-page > p > i {
    color: #a1a1a1;
}
